.chefs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.chef{
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,.15);
    overflow: hidden;
    max-width: 20%;
    margin: 2%;
    text-align: center;
}
.chef img{
    width: 400px;
    height: 150px;
}
.chef ul{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.chef li{
    list-style: none;
    margin: 0 20px;
}
.chef a{
    text-decoration: none;
    font-size: 1em;
    padding: .5em 1em;
    margin: 0 .35em;
    border: none;
    border-radius: 20px;
}
.chef a:hover{
    transform: scale(0.9);
}

.price{
    background-color: #f5f1f0;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    margin-left: 20px;
}
.btn-reserve{
    background-color: #00aa2e;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    color: white;
    margin-right: 20px;
}
.btn-reserve:hover{
    color: black;
}

