@import url(//db.onlinewebfonts.com/c/d5eef793c51ffd65df6fb6dd1ec86f1c?family=CreamyScript);
.carousel-infos{
    flex-basis: 70%;
    padding:5% 10%;
    background-color: #e6002c;
    z-index: 2;
    color: white;
}
.carousel-infos h2{
    font-size: 4rem;
    font-family: "CreamyScript";
}
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-basis: 50%;
}
.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 500px;
}
.carousel-item img {
    display: block;
    max-width: 100%;
    height: auto;
}
.carousel-item{
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}
.carousel-btn {
    position: absolute;
    top: 40%;
    transform: scale(0.8);
    z-index: 2;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.prev-btn {
    left: 1rem;
}
.next-btn {
    right: 1rem;
}